version: 1
validation: sovereign
default_denom: stake
accounts: 
- name: alice
  coins:
  - 20000token
  - 200000000stake
- name: bob
  coins:
  - 10000token
  - 100000000stake
client:
  openapi:
    path: docs/static/openapi.json
faucet:
  name: bob
  coins:
  - 5token
  - 100000stake
validators:
- name: alice
  bonded: 100000000stake
- name: validator1
  bonded: 200000000stake
- name: validator2
  bonded: 100000000stake
genesis:
  app_state:
    gov:
      params:
        voting_period: "172800s" # 2 days
        min_deposit:
          - amount: "10000000"
            denom: "stake"